.hover\:underline:hover {
    text-decoration: underline
}
@media (min-width: 768px) {
    .md\:mt-0 {
        margin-top: 0px
    }
    .md\:ml-6 {
        margin-left: 1.5rem
    }
    .md\:flex {
        display: flex
    }
    .md\:w-56 {
        width: 14rem
    }
    .md\:flex-shrink-0 {
        flex-shrink: 0
    }
}
